{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">About</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <p>Hi! I'm Cyrus Tabatabai-Yazdi from Los Angeles, California. I just graduated with my Master's Degree in Computer Science from UCLA and am currently looking for a software engineering job. I previously earned a Bachelor's Degree from UCI in Computer Science as well. I have experience creating software and websites for my own enjoyment as well as professionally through internships. Some of my hobbies include coding games, reading, and watching sports.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
